
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.animated-item {
  opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
